.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.label {
    display: block;
    margin-top: 5px;
}

#options {
    display: block;
    margin-top: 20px;
}

#check {
    display: block;
    margin-top: 5px;
}